<!DOCTYPE html>

<html>
<head>
	<title>Enter Progress</title>
</head>
<body>
	<p>
		Please enter your progress:
	</p>
	<p>
		<form action="\progress" method="post">
			Coding / Math (Enter Number of Hours): <input type="number" name="coding">
			<br>
			Reading (Enter Number of Completed Books): <input type="number" name="reading">
			<br>
			Savings (Enter Contributions to Savings): <input type="number" name="savings">
			<br>s
			<input type="submit" name="submit">
		</form>
	</p>
	<p>
		<form action="\progress" method="get">
			Or check on your progress!
			<br>
			<input type="submit" name="progress" value="My Progress">
		</form>
	</p>
</body>
</html>