<!DOCTYPE html>

<html lang='en'>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

	<!-- My CSS file -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/goal_tracker.css') }}" />


	<title>My Progress</title>
</head>


<body>
	<div class='header'>
		<h1>My Progress Thus Far!</h1>
	</div>

	<br>
	<br>

	<div class="container">

		<h5>Coding</h5>
		<table class="table table-bordered" id='coding'>
		  	<thead>
			    <tr>
			      <th scope="col">Current Month's Progress</th>
			      <th scope="col">Average Per Day Progress</th>
			      <th scope="col">Monthly Target</th>
			      <th scope="col">Delta</th>
			    </tr>
		  	</thead>
		  	<tbody>
		    <tr>
				<td>{{ coding_vals['current'] }}</td>
				<td>{{ coding_vals['avg'] }}</td>
				<td>{{ coding_vals['goal'] }}</td>
				<td>{{ coding_vals['delta'] }}</td>
		    </tr>
		  	</tbody>
		</table>
	</div>

	<br>

	<div class="container" class='col-10'>
		<h5>Reading</h5>

		<table class="table table-bordered" name='book'>
			<thead>
				<tr>
					<th scope="col">Current Month's Progress</th>
					<th scope='col'>Monthly Target</th>
				</tr>
			</thead>
			<tbody>
			<tr>
				<td>{{ book_vals['current'] }}</td>
				<td>{{ book_vals['goal'] }}</td>
			</tr>
			</tbody>
		</table>
	</div>
	
	<br>

	<div class='container'>
		<h5>Exercise</h5>
		
		<table class="table table-bordered" name='exercise'>
			<thead>
				<tr>
					<th>Current Week's Progress</th>
					<th>Weekly Target</th>
					<th>Delta</th>
				</tr>
			</thead>
			<tr>
				<td>{{ ex_vals['current'] }}</td>
				<td>{{ ex_vals['goal'] }}</td>
				<td>{{ ex_vals['delta'] }}</td>
			</tr>
		</table>
	</div>

	<br>

	<div class='container'>

		<h5>Savings</h5>	
		<table class='table table-bordered' name='saving'>
			<thead>
				<tr>
					<th>Total Saved</th>
					<th>Average Per Month</th>
					<th>Total Target</th>
					<th>Delta</th>
				</tr>
			</thead>
			<tr>
				<td>{{ saving_vals['total'] }}</td>
				<td>{{ saving_vals['avg'] }}</td>
				<td>{{ saving_vals['goal'] }}</td>
				<td>{{ saving_vals['delta'] }}</td>
			</tr>
		</table>
	</div>
	</div>
	
	<br>

	<div class='container' id='button'>

		<p>
			<form action="\" method="get">
				<button type="button" class="btn btn-primary">Primary</button>
				<!-- input type="submit" name="submit" value="Back" -->
			</form>
		</p>
	</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
